@model IEnumerable<PickMeUp.Entity.Payment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table id="table" class="table">
    <thead>
        <tr>
            <th>
                Passenger
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                Payed with
            </th>
            <th>
                Is Payed
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Passenger.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payed)
                </td>
               
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#table").DataTable();
        });
    </script>
}
