<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @{
                        if (HttpContext.Current.User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Roles", "Index", "Role")</li>
                            <li>@Html.ActionLink("Vehicle Types", "Index", "VehicleTypes")</li>
                            <li>@Html.ActionLink("Payment Types", "Index", "PaymentTypes")</li>
                            <li>@Html.ActionLink("All Payments", "Index", "Payments")</li>
                        }

                        else if (HttpContext.Current.User.IsInRole("Driver"))
                        {
                            <li>@Html.ActionLink("All Rides", "AllRides", "Drivers")</li>
                        }

                        else if (HttpContext.Current.User.IsInRole("Passenger"))
                        {
                            <li>@Html.ActionLink("Track Ride", "RideOnGoing", "Passengers")</li>
                            <li>@Html.ActionLink("All Rides", "AllRides", "Passengers")</li>
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>
    
    <footer class="container body-content">
        <hr />
        <p>&copy; @DateTime.Now - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
